.container{ 
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.imagen {
    max-width: 575px; 
    max-height: 400px; 
    width: auto;
    height: auto;
    border-radius: 30px;
    border: 2px solid #ffc100;
    margin-right: 10px;
}
.info {
    color: #ff0000;
    font-size: 13px;
    border: 2px solid #ffc100 ;
    width: 110%;
    margin-left: 10px;
    border-radius: 10px;
    line-height: 18px;
}