.card {
    box-sizing: border-box;
    width: 260px;
    height: 330px;
    background: white;
    border: 2px solid #ffc100;
    backdrop-filter: blur(6px);
    border-radius: 17px; 
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 2px solid #ff0000;
    box-shadow: 0 0 15px #ff0000;
    transform: scale(1.05);
  }

  .card:hover .imagen {
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px #ff0000;

  }
  

.imagen {
    width :215px;
    height:235px;
    border-radius: 10px;
    border: 2px solid #ffc100;
    transition: all 0.5s;
}

.nombre{
    font-size: 11px;
    text-decoration: none;
    color: black;
}
.genero {
  width: auto;
  font-size: 7px;
  text-decoration: none;
  color: black;
}
.link{
    text-decoration: none;
}

.rating{
  width: auto;
  text-decoration: none;
  color: black;
  font-size: 7px;
}
